<!-- <div class="padding-top"><h1></h1></div> -->
<div class="main-body">
    <div class="column-left">
        <h1>tasks</h1>
        <ul class="list-group">
            <li class="list-group-item">task 1</li>
            <li class="list-group-item list-group-item-primary">task 2</li>
        </ul>
    </div>
    <div class="column-middle">
        <h1>important things</h1>
    </div>
    <div class="column-right">
        <h1>notes</h1>
        <button class="button button-new">+ new task</button>
    </div>
</div>


